.footer-container {
  background: #faf7f7;
  padding: 40px 20px;
  text-align: center;
  color: #151313;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 30px;
}

.footer-section h3 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: bold;
}

.footer-section p {
  margin: 6px 0;
  cursor: pointer;
  transition: 0.3s;
}

.footer-section p:hover {
  color: #ff5757;
}

.footer-logo {
  width: 50px;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.icon {
  background: #222;
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.icon:hover {
  background: #ff5757;
  color: #fff;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}
