.transition-text {
  transition: opacity 1.2s ease, transform 1.2s ease;
}

.transition-text.show {
  opacity: 1;
  transform: translateY(0);
}

.transition-text.hide {
  opacity: 0;
  transform: translateY(20px);
}
